USE [LEMIR_Stage]
GO
/****** Object:  Table [dbo].[EI_XML_w_data]    Script Date: 12/21/2018 10:17:41 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EI_XML_w_data]') AND type in (N'U'))
DROP TABLE [dbo].[EI_XML_w_data]
GO
/****** Object:  Table [dbo].[EI_XML_w_data]    Script Date: 12/21/2018 10:17:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
BEGIN
CREATE TABLE [dbo].[EI_XML_w_data](
	[FACILITY_NAME] [nvarchar](255) NULL,
	[TYPE_NAME] [nvarchar](255) NOT NULL,
	[PROGRAM_DETAIL] [xml] NULL,
CONSTRAINT [TYPE_NAME_PK] PRIMARY KEY CLUSTERED 
(
	[TYPE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
