
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT [ID],
       [Description]
FROM [LandDataBase].[dbo].[PermitMajorCodes]