/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [AutoNumber]
      ,[PermitNumber]
      ,[ComplianceStatus]
      ,[MethaneMajorCodes]
      ,[MinorCode]
      ,[StartDate]
      ,[DueDate]
      ,[CompletionDate]
      ,[InvestigatorName]
      ,[ReferenceNumber]
      ,[Dollars]
      ,[Comments]
      ,[SSMA_TimeStamp]
  FROM [LandDataBase].[dbo].[Methane]
  order by 2