
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT [cminc].[AutoNumber],
       [cminc].[MinorCodes]
FROM [LandDatabase].[dbo].[ClosureMinorCodes] AS [cminc]