
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT [EMUmajC].[ID],
       [EMUmajC].[Description]
FROM [LandDataBase].[dbo].[EMU DO Reviews Major Codes] AS [EMUmajC]
