
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT [acmmc].[AutoNumber],
       [acmmc].[ACMMajorCodes]
FROM [LandDatabase].[dbo].[AssessmentOfCorrectiveMeasuresMajorCodes] AS [acmmc]