
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT [LOS].[OperationStatus],
       [LOS].[Definition]
FROM [LandDatabase].[dbo].[OperationStatus] AS [LOS]