
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT [PB_C].[Column1],
       [PB_C].[Column2],
       [PB_C].[Column3],
       [PB_C].[Column4],
       [PB_C].[Column5],
       [PB_C].[Column6],
       [PB_C].[Column7],
       [PB_C].[Column8],
       [PB_C].[Column9]
FROM [LandDataBase].[dbo].[$Composters] AS [PB_C]