
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT [InsUpd],
       [LEMIR_RID],
       [FACILITY_ID_REF],
       [Permit_Number],
       [Date Processed]
FROM [LEMIR_Stage].[dbo].[Update_Insert]