
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT [SPL].[LOCATION_RID],
       [SPL].[LOCATION_DESC],
       [SPL].[ST_NO],
       [SPL].[ST_DIRECTION_RID],
       [SPL].[ST_NAME],
       [SPL].[ST_TYPE_RID],
       [SPL].[SUB_ST_TYPE_RID],
       [SPL].[SUB_ST_VALUE],
       [SPL].[CITY_NAME],
       [SPL].[STATE_RID],
       [SPL].[COUNTY_RID],
       [SPL].[COUNTRY_RID],
       [SPL].[ZIP_CD],
       [SPL].[ZIP_SUFFIX_CD],
       [SPL].[QUAD_CD],
       [SPL].[DISTRICT_NAME],
       [SPL].[GEO_COORDINATE_RID],
       [SPL].[MAP_PAGE],
       [SPL].[MAP_SECTION],
       [SPL].[LOT_NO],
       [SPL].[BLOCK_NO],
       [SPL].[PARCEL_NO],
       [SPL].[QUARTER],
       [SPL].[QUARTER_SECTION],
       [SPL].[STATUS_CD],
       [SPL].[CREATED_BY],
       [SPL].[UPDATED_BY],
       [SPL].[CREATED_DATE],
       [SPL].[UPDATED_DATE],
       [SPL].[INTERSECTION],
       [SPL].[X_COORDINATE],
       [SPL].[Y_COORDINATE],
       [SPL].[WARD_NO],
       [SPL].[PARENT_LOCATION_RID],
       [SPL].[ST_NO_BK],
       [SPL].[ST_DIRECTION_RID_BK],
       [SPL].[ST_NAME_BK],
       [SPL].[ST_TYPE_RID_BK],
       [SPL].[FACILITY_ID_REF]
FROM [LEMIR_Stage].[dbo].[SYS_PHYSICAL_LOCATION] AS [SPL]