
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT [GSP].[PERMIT_RID],
       [GSP].[SUBMISSION_RID],
       [GSP].[SUB_FORM_RID],
       [GSP].[PERMIT_NUMBER],
       [GSP].[SYS_USER_RID],
       [GSP].[SYS_FACILITY_ID],
       [GSP].[FACILITY_NAME],
       [GSP].[ISSUED_BY],
       [GSP].[ISSUED_DTTM],
       [GSP].[EFFECTIVE_DTTM],
       [GSP].[EXPIRATION_DTTM],
       [GSP].[STATUS_CD],
       [GSP].[COMMENTS],
       [GSP].[CREATED_DTTM],
       [GSP].[CREATED_BY],
       [GSP].[UPDATED_DTTM],
       [GSP].[UPDATED_BY],
       [GSP].[TRANSFER_TO],
       [GSP].[PERMIT_STATUS_RID],
       [GSP].[PERMIT_TYPE_RID],
       [GSP].[PERMIT_DETAIL],
       [GSP].[PERMIT_NAME],
       [GSP].[REPORT_RID],
       [GSP].[NUMBER_SUFFIX],
       [GSP].[EXPIRATION_DESC],
       [GSP].[BARCODE_IMAGE],
       [GSP].[BARCODE_NUMBER],
       [GSP].[SUB_PRIOR_APPROVAL_RID],
       [GSP].[OBJECT_TYPE],
       [GSP].[DESCRIPTION],
       [GSP].[APPLICATION_RID],
       [GSP].[PERMIT_STAGE_RID],
       [GSP].[CONTROL_NUMBER],
       [GSP].[EXCHANGE_PERMIT_RID],
       [GSP].[OBJECT],
       [GSP].[REVISION_NO],
       [GSP].[CHECK_OUT_BY],
       [GSP].[CHECK_OUT_DATE],
       [GSP].[CHECK_OUT_DIRECTORY],
       [GSP].[VERSION_NO],
       [GSP].[LOCK_IND],
       [GSP].[PERMIT_FILE_NAME],
       [GSP].[EXTRA_INFO],
       [GSP].[PERMIT_FILE_EXT],
       [FACILITY_ID_REF]
FROM [LEMIR_Stage].[GOV].[SUB_PERMIT] AS [GSP]