
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT [pCIMC].[AutoNumber],
       [pCIMC].[ComplianceMajorCodes]
FROM [PermitByRule].[dbo].[ComplianceInspectionMajorCodes] AS [pCIMC]