
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT [pIl].[InvestigatorName],
       [pIl].[BranchProgram]
FROM [PermitByRule].[dbo].[InvestigatorListing] AS [pIl]