
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT [pMC].[AutoNumber],
       [pMC].[MinorCodes]
FROM [PermitByRule].[dbo].[MinorCodes] AS [pMC]