
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT [SUBMISSION_RID],     --NEW
       --[REF_SUBMISSION_RID],
       [APPLICATION_RID],  --2148
       --[OWNER_USER_RID],
       --[SYS_USER_RID],
       [SYS_FACILITY_ID],   --NULL at First -- Then GEOS FAC_FACILITY_RID  After FIS Reconsiliation  
       [FACILITY_NAME],     -- FAC_FACILITY_NAME from lemir
       --[SENDER_IP_ADDRESS],
       --[BIZ_XML],
       --[SUB_TYPE],
       --[SUB_XML],
       [SUB_DTTM],          --GetDate()
       --[RETRANSFER_FLAG],
       --[ATOMIC_FLAG],
       --[STATUS_UPDATED_DTTM],
       --[COMMENTS],
       --[IN_USE],
       [LOCK_FLAG],         --N
       --[TRANS_ID],
       --[TRANS_STATUS_CD],
       [CREATED_DTTM],      --GetDate()
       [CREATED_BY],        --EPDMIG SWT
       [UPDATED_DTTM],      --GetDate()
       [UPDATED_BY],        --EPDMIG SWT
       --[INUSED_BY],
       [SUB_STATUS_RID],     -- 5 or 6
       --[EXTRA_INFO],
       --[LATITUDE_VALUE],
       --[LONGTITUDE_VALUE],
       --[REQ_ATTACHMENT_IND],
       --[REQ_FEE_IND],
       --[REQ_INSPECTION_IND],
       --[REQ_REVIEW_IND],
       --[STATUS_UPDATED_BY],
       --[CONTACT_RID],
       --[ARB_SUBSCRIPTION_ID],
       --[ARB_START_DATE],
       --[ARB_CREATED_DATE],
       --[ARB_SCHEDULE_DATE],
       --[ARB_ENROLLED_IND],
       --[ARB_SUBSCRIPTION_STATUS],
       --[CONTROL_NUMBER],
       [MIG_TRACK_NUMBER]    --Permit Number
       --[END_DATE],
       --[CRC_NUM],
       --[SHA2_STRING],
       --[EMAIL_NOTIFY_IND],
       --[FAC_STATUS_RID],
       --[FILE_ACKNOW_DTTM],
       --[REVIEW_COMMENT],
       --[REVIEW_USER_RID],
       --[REVIEWED_DATE],
       --[SUBMISSION_METHOD_TYPE_RID],
       --[WF_PROCESSFLOW]
FROM [GovOnline_LEMIR].[GOV].[SUB_SUBMISSION]