
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT [PAYMENT_RID],
       [PAID_AMOUNT],
       [DUE_AMOUNT],
       [REFUND_AMOUNT],
       [PAYMENT_METHOD_RID],
       [PAYMENT_STATUS_CD],
       [PAYMENT_DATE],
       [RECEIVED_BY],
       [CARD_TYPE],
       [CHECK_NO],
       [PAYMENT_COMMENTS],
       [REFERENCE_NUM],
       [RETRANSFER_FLAG],
       [STATUS_CD],
       [CREATED_DATE],
       [CREATED_BY],
       [UPDATED_DATE],
       [UPDATED_BY],
       [EPAY_SETTLE_DATE],
       [EPAY_RETURN_CODE],
       [EPAY_RETURN_MESSAGE],
       [EPAY_CONFIRM_NUM],
       [EFT_TRANSACTION_FEE],
       [EFT_CONVENIENCE_FEE],
       [GTW_TRANSACTION_FEE],
       [GTW_CONVENIENCE_FEE],
       [BATCH_ID],
       [CARD_NUMBER],
       [EXPIRATION_DATE],
       [EXTRA_INFO],
       [ROUTING_NO],
       [ACCOUNT_NO],
       [ACCOUNT_TYPE],
       [PAYMENT_TYPE_CD],
       [CREDIT_IND],
       [SUB_SYSTEM_NAME],
       [SUB_SYSTEM_TABLE_NAME],
       [SUB_SYSTEM_RECORD_ID],
       [POSTED_DATE],
       [POSTED_USER_RID],
       [SYN_IND],
       [SYN_DATE],
       [PEOPLESOFT_DATE],
       [EXTERNAL_FACILITY_ID]
FROM [GovOnline_FIMS].[dbo].[SYS_PAYMENT]
--WHERE [SUB_SYSTEM_RECORD_ID] IN(80873, 366684)
WHERE   [PAYMENT_RID] = 12983