/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [ADJUSTMENT_RID]
      ,[ACC_PROGRAM_RID]
      ,[ACC_ACCOUNT_RID]
      ,[FEE_PROGRAM_RID]
      ,[ADJUSTMENT_REASON_RID]
      ,[ADJUSTMENT_AMOUNT]
      ,[ADJUSTMENT_STATUS]
      ,[APPROVED_USER_RID]
      ,[APPROVED_DATE]
      ,[APPROVED_REASON]
      ,[COMMENT_TEXT]
      ,[STATUS_CD]
      ,[CREATED_DATE]
      ,[CREATED_BY]
      ,[UPDATED_DATE]
      ,[UPDATED_BY]
      ,[SUB_SYSTEM_NAME]
      ,[SUB_SYSTEM_TABLE_NAME]
      ,[SUB_SYSTEM_RECORD_ID]
      ,[DISPLAY_IND]
      ,[SUB_FEE_RID]
      ,[LEMIR_RR_FORM_GEN_RID]
  FROM [GovOnline_FIMS].[FIMS].[SYS_ADJUSTMENT]
    WHERE [ACC_PROGRAM_RID] = 7236