/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [CHARGE_RID]
      ,[CHARGE_BATCH_RID]
      ,[ACC_PROGRAM_RID]
      ,[CONTRACT_RID]
      ,[PRICING_RID]
      ,[CHARGE_AMOUNT]
      ,[CHARGE_TYPE_CD]
      ,[CHARGE_DATE]
      ,[DUE_DATE]
      ,[CHARGE_DESC]
      ,[CHARGE_REASON]
      ,[CHARGE_CREATED_DATE]
      ,[CHARGE_CREATED_BY]
      ,[CONFIRMED_DATE]
      ,[CONFIRMED_BY]
      ,[POSTED_DATE]
      ,[SUB_SYSTEM_NAME]
      ,[SUB_SYSTEM_TABLE_NAME]
      ,[SUB_SYSTEM_RECORD_ID]
      ,[STATUS_CD]
      ,[CREATED_DATE]
      ,[CREATED_BY]
      ,[UPDATED_DATE]
      ,[UPDATED_BY]
      ,[ACC_ACCOUNT_RID]
      ,[FEE_PROGRAM_RID]
      ,[POSTED_USER_RID]
      ,[EMAIL_DATE]
      ,[EMAIL_USER_RID]
      ,[EMAIL_STATUS_CD]
      ,[EMAIL_CONTENT]
      ,[LEMIR_RR_FORM_GEN_RID]
      ,[SUB_FEE_RID]
      ,[EXTERNAL_FACILITY_ID]
  FROM [GovOnline_FIMS].[FIMS].[SYS_CHARGE]
  WHERE [ACC_PROGRAM_RID] = 7236