/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [INVOICE_RID]
      ,[ACC_PROGRAM_RID]
      ,[ACC_ACCOUNT_RID]
      ,[FEE_PROGRAM_RID]
      ,[INVOICE_PERIOD]
      ,[START_DATE]
      ,[END_DATE]
      ,[INVOICE_NUMBER]
      ,[DUE_DATE]
      ,[INVOICE_AMOUNT]
      ,[TOTAL_BALANCE]
      ,[INVOICE_INSTALLMENT_RID]
      ,[DISPUTE_IND]
      ,[COMMENT_TYPE_RID]
      ,[PREVIOUS_INVOICE_RID]
      ,[EMAIL_DATE]
      ,[EMAIL_USER_RID]
      ,[INVOICE_ANNOUCEMENT]
      ,[EMAIL_CONFIRMED_DATE]
      ,[EMAIL_CONFIRMED_BY]
      ,[CLEARANCE_RID]
      ,[STATUS_CD]
      ,[CREATED_DATE]
      ,[CREATED_BY]
      ,[UPDATED_DATE]
      ,[UPDATED_BY]
      ,[INVOICE_OBJECT]
      ,[INVOICE_OBJECT_TYPE]
      ,[EMAIL_CONTENT]
      ,[EMAIL_CONFIRM_URL]
      ,[EMAIL_STATUS_CD]
      ,[INVOICE_DATE]
  FROM [GovOnline_FIMS].[FIMS].[SYS_INVOICE]
  WHERE [ACC_ACCOUNT_RID] =  7236