/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [TRANSACTION_RID]
      ,[ACC_PROGRAM_RID]
      ,[ACC_ACCOUNT_RID]
      ,[FEE_PROGRAM_RID]
      ,[TRANSACTION_TYPE_RID]
      ,[CHARGE_RID]
      ,[PAYMENT_RID]
      ,[INVOICE_RID]
      ,[ADJUSTMENT_RID]
      ,[TRANSACTION_AMOUNT]
      ,[TRANSACTION_DATE]
      ,[STATUS_CD]
      ,[CREATED_DATE]
      ,[CREATED_BY]
      ,[UPDATED_DATE]
      ,[UPDATED_BY]
      ,[DISPUTE_RID]
      ,[CLEARANCE_RID]
      ,[PHASE_RID]
      ,[EXTERNAL_FACILITY_ID]
  FROM [GovOnline_FIMS].[FIMS].[SYS_TRANSACTION]
  WHERE   [PAYMENT_RID] = 12983