
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT [Insert or Update],
       [GWM],
       [MM],
       [LEMIR ID for Update],
       [analysis hist notes],
       [MainPermitNumber],
       [AKA name]
FROM [LEMIR_Stage].[dbo].[$EI_insert_update]
WHERE [analysis hist notes] IN(
                               '063-16D(L)',
                               '060-046D(SL)',
                               '057-013D(SL)'
                              )
      OR [MainPermitNumber] IN('063-16D(L)', '060-046D(SL)', '057-013D(SL)'
                              )