
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT *
FROM [GovOnline_LEMIR].[dbo].[FAC_FACILITY]
--WHERE [FACILITY_RID] > 163200
--and [FACILITY_RID] < 163210
----WHERE [UPDATED_BY] = 'EPDMIG SW'