
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT [spl].[LOCATION_RID],
       [spl].[LOCATION_DESC],
       [spl].[ST_NO],
       [spl].[ST_DIRECTION_RID],
       [spl].[ST_NAME],
       [spl].[ST_TYPE_RID],
       [spl].[SUB_ST_TYPE_RID],
       [spl].[SUB_ST_VALUE],
       [spl].[CITY_NAME],
       [spl].[STATE_RID],
       [spl].[COUNTY_RID],
       [spl].[COUNTRY_RID],
       [spl].[ZIP_CD],
       [spl].[ZIP_SUFFIX_CD],
       [spl].[QUAD_CD],
       [spl].[DISTRICT_NAME],
       [spl].[GEO_COORDINATE_RID],
       [spl].[MAP_PAGE],
       [spl].[MAP_SECTION],
       [spl].[LOT_NO],
       [spl].[BLOCK_NO],
       [spl].[PARCEL_NO],
       [spl].QUARTER,
       [spl].[QUARTER_SECTION],
       [spl].[STATUS_CD],
       [spl].[CREATED_BY],
       [spl].[UPDATED_BY],
       [spl].[CREATED_DATE],
       [spl].[UPDATED_DATE],
       [spl].[INTERSECTION],
       [spl].[X_COORDINATE],
       [spl].[Y_COORDINATE],
       [spl].[WARD_NO],
       [spl].[PARENT_LOCATION_RID],
       [spl].[ST_NO_BK],
       [spl].[ST_DIRECTION_RID_BK],
       [spl].[ST_NAME_BK],
       [spl].[ST_TYPE_RID_BK]
FROM [GovOnline_LEMIR].[dbo].[SYS_PHYSICAL_LOCATION] AS [spl]