
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT [PMTP].[PERMIT_RID],
       [PMTP].[PERMIT_NO],
       [PMTP].[FACILITY_RID],
       [PMTP].[PERMIT_TYPE_RID],
       [PMTP].[EFF_DATE],
       [PMTP].[EXP_DATE],
       [PMTP].[DRAFT_ISSUE_DATE],
       [PMTP].[ISSUE_DATE],
       [PMTP].[REVOKED_DATE],
       [PMTP].[RENEWAL_DATE],
       [PMTP].[RENEWAL_REMIND_DATE],
       [PMTP].[APPROVE_DATE],
       [PMTP].[APPROVED_BY],
       [PMTP].[REPORT_FREQUENCY_RID],
       [PMTP].[PERMIT_STATUS_RID],
       [PMTP].[PERMIT_STATUS_CHANGE_REASON],
       [PMTP].[PARENT_PERMIT_RID],
       [PMTP].[ASSOCIATED_PREVIOUS_PERMIT_RID],
       [PMTP].[ESUBMISSION_IND],
       [PMTP].[DEFAULT_DURATION],
       [PMTP].[DEFAULT_DURATION_UNIT],
       [PMTP].[STATUS_CD],
       [PMTP].[CREATED_DATE],
       [PMTP].[CREATED_BY],
       [PMTP].[UPDATED_DATE],
       [PMTP].[UPDATED_BY],
       [PMTP].[PERMIT_XML],
       [PMTP].[COMMENT_TEXT],
       [PMTP].[PERMIT_NAME],
       [PMTP].[PROGRAM_TYPE_RID],
       [PMTP].[STATE_PERMIT_ID],
       [PMTP].[PERMIT_VERSION],
       [PMTP].[TERMINATE_DATE],
       [PMTP].[PERMITTEE_NAME],
       [PMTP].[EXTENDED_EXP_DATE],
       [PMTP].[AGGREGATED_IND],
       [PMTP].[NRCCWPI_PERMIT_INSTANCE_ID],
       [PMTP].[PMT_CONTINUOUS_IND],
       [PMTP].[PMT_EXTENDED_DATE],
       [PMTP].[IPACS_PMT_ID],
       [PMTP].[IPACS_SUBMISSION_RID],
       [PMTP].[RENEW_PERMIT_IND],
       [PMTP].[EXCHANGE_PERMIT_RID]
FROM [GovOnline_LEMIR_UAT].[dbo].[PMT_PERMIT] AS [PMTP]
where [PMTP].[CREATED_BY] = 'EPDMIG SW'