
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT *
FROM [GovOnline_GEOS].[GOV].[SUB_SUBMISSION]
WHERE [SUBMISSION_RID] IN(458534, 411394, 409855, 409851, 409763, 409739, 428716)