/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (10000) [DEPT_RID]
      ,[DEPT_NAME]
      ,[DEPT_DESC]
      ,[CREATED_DATE]
      ,[CREATED_BY]
      ,[UPDATED_DATE]
      ,[UPDATED_BY]
      ,[DEPT_CD]
      ,[STATUS_CD]
      ,[PHONE_NO]
      ,[FAX_NO]
      ,[DEPT_ADDR1]
      ,[DEPT_ADDR2]
      ,[DEPT_CITY]
      ,[DEPT_STATE]
      ,[DEPT_ZIP]
      ,[DEPT_FULL_ADDR]
      ,[EMAIL_ADDR]
      ,[DEPT_HEAD_NAME]
      ,[DEPT_HEAD_TITLE]
      ,[DEPT_HEAD_IMAGE]
  FROM [GovOnline_LEMIR].[GOV].[REF_DEPT]