/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [MASTERLIST_DTL_KEY_RID]
      ,[MASTERLIST_DTL_RID]
      ,[MASTERLIST_TYPE_KEY_RID]
      ,[KEY_VALUE]
      ,[STATUS_CD]
      ,[CREATED_DATE]
      ,[CREATED_BY]
      ,[UPDATED_DATE]
      ,[UPDATED_BY]
  FROM [GovOnline_LEMIR].[dbo].[ML_MASTERLIST_DTL_KEY]