/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (10000) [TYPE_RID]
      ,[TYPE_CD]
      ,[TYPE_NAME]
      ,[TYPE_DESC]
      ,[PROGRAM_RID]
      ,[STATUS_CD]
      ,[CREATED_DATE]
      ,[CREATED_BY]
      ,[UPDATED_DATE]
      ,[UPDATED_BY]
      ,[PROGRAM_TEMPLATE]
  FROM [GovOnline_LEMIR].[dbo].[REF_REG_PROGRAM_TYPE]