/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (10000) [ENV_PROGRAM_CONTACT_RID]
      ,[CONTACT_RID]
      ,[TYPE_RID]
      ,[STATUS_CD]
      ,[CREATED_DATE]
      ,[CREATED_BY]
      ,[UPDATED_DATE]
      ,[UPDATED_BY]
      ,[FAC_ENV_PROGRAM_RID]
      ,[OLD_ENV_PROGRAM_CONTACT_RID]
  FROM [GovOnline_LEMIR].[dbo].[SYS_ENV_PROGRAM_CONTACT]