
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT *
FROM [GovOnline_LEMIR].[dbo].[SYS_CONTACT] 
where [CONTACT_RID] = 599656