
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT max([GEO_COORDINATE_RID])
FROM [GovOnline_LEMIR].[dbo].[SYS_GEO_COORDINATE]