
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT DISTINCT
       [County],
       [Facility Name],
       [Permit #] AS [PermitNumber],
       [Operation _Status],
       [Facility Type],
       [Dominion],
       [Address],
       [City],
       [State],
       [ZIP],
       [Contact],
       [Phone],
       [Reporting _Year],
       [Total Tons _Disposed],
       [Q1],
       [Q2],
       [Q3],
       [Q4],
       [Tons _Recycled],
       [Tons to _Invoice]
FROM [LEMIR_Stage].[dbo].[$TonnageEOY2018]
WHERE [Permit #] IS NOT NULL
ORDER BY 3