
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT [MainPermitNumber],
       [FacilityName],
       [EPAID],
       [OperationStatus],
       [FacilityType],
       [FacilityTypeDescription],
       [FacilityStartDate],
       [FacilityAmendedDate],
       [FacilityEndDate],
       [FacilityAddress],
       [City],
       [State],
       [ZipCode],
       [County],
       [Region],
       [TotalAcreage],
       [UsableAcreage],
       [LocationDescription],
       [Comments],
       [Private],
       [Dominion],
       [HSIRequested],
       [HSIListed],
       [ProposedCapacity(CY)],
       [PermittedCapacity(CY)],
       [PermitIssueDate],
       [DateCeasedAcceptingWaste],
       [DateClosureCertificate Issued],
       [PC/CPeriod],
       [LCSystem],
       [VE],
       [Liner],
       [LinerType],
       [OtherLinerType],
       [SIC],
       [GWSystemInstalled],
       [MethaneSystemInstalled],
       [GWReleaseConfirmed],
       [UnderDrainSystemInstalled],
       [UDSystemReleaseConfirmed],
       [MailingAddress],
       [MailingCity],
       [MailingState],
       [MailingZipCode],
       [PostCLosureCareReleaseDate],
       [LFGasCollectionApproved],
       [LandfillGastoEnergyApproved],
       [LandfillGasenergyUsedfor],
       [Materials Recovery Facility (MRF) Approved?],
       [Type of Waste(s) Processed by MRF],
       [Composting Operation Approved?],
       [Type of Material (s) Composted],
       [Combined Landfills with Common GW System Description],
       [CDLandfill],
       [CDLandfillOperationStatus],
       [InertLandfill],
       [InertLandfillOperationStatus],
       [TransferStation],
       [TransferStationOperationStatus]
FROM [LandDataBase].[dbo].[MAIN FACILITY INFO]
ORDER BY 2