
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT [EIIU].[Insert or Update],
       [EIIU].[GWM],
       [EIIU].[MM],
       [EIIU].[LEMIR ID for Update],
       [EIIU].[analysis hist notes],
       [EIIU].[MainPermitNumber],
       [FF].*
FROM [LEMIR_Stage].[dbo].[$EI_insert_update] AS [EIIU]
     JOIN [GovOnline_LEMIR].[dbo].[FAC_FACILITY] AS [FF] ON [EIIU].[LEMIR ID for Update] = [FF].[FACILITY_RID]
WHERE [EIIU].[LEMIR ID for Update] IS NOT NULL