USE [LEMIR_Stage]
GO
/****** Object:  Table [dbo].[$EI_insert_update]    Script Date: 4/4/2019 4:05:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[$EI_insert_update]') AND type in (N'U'))
DROP TABLE [dbo].[$EI_insert_update]
GO
/****** Object:  Table [dbo].[$EI_insert_update]    Script Date: 4/4/2019 4:05:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[$EI_insert_update](
	[Insert or Update] [nvarchar](255) NULL,
	[GWM] [nvarchar](255) NULL,
	[MM] [nvarchar](255) NULL,
	[LEMIR ID for Update] [float] NULL,
	[analysis hist notes] [nvarchar](255) NULL,
	[MainPermitNumber] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[$EI_insert_update] ([Insert or Update], [GWM], [MM], [LEMIR ID for Update], [analysis hist notes], [MainPermitNumber]) VALUES (N'U', NULL, NULL, 33668, NULL, N'001-004D(LI)')
INSERT [dbo].[$EI_insert_update] ([Insert or Update], [GWM], [MM], [LEMIR ID for Update], [analysis hist notes], [MainPermitNumber]) VALUES (N'U', N'Y', N'Y', 1692, NULL, N'001-006D(SL)')
INSERT [dbo].[$EI_insert_update] ([Insert or Update], [GWM], [MM], [LEMIR ID for Update], [analysis hist notes], [MainPermitNumber]) VALUES (N'I', NULL, NULL, NULL, NULL, N'001-007P(RM)')
GO
