
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT [EMUminC].[AutoNumber],
       [EMUminC].[MinorCodes]
FROM [LandDataBase].[dbo].[EMU DO Reviews Minor Codes] AS [EMUminC]