
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT [cimc].[AutoNumber],
       [cimc].[ComplianceMajorCodes]
FROM [LandDatabase].[dbo].[ComplianceInspectionMajorCodes] AS [cimc]