
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT '' AS [E I Type],
       [FacilityType1],
       [FacilityTypeDescription1]
FROM [LandDataBase].[dbo].[FacilityTypeDescriptions]