
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT [cmc].[AutoNumber],
       [cmc].[ClosureMajorCodes]
FROM [LandDatabase].[dbo].[ClosureMajorCodes] AS [cmc]