
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT [cstrminc].[AutoNumber],
       [cstrminc].[MinorCodes]
FROM [LandDatabase].[dbo].[ConstructionMinorCodes] AS [cstrminc]