
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT [cstrmc].[AutoNumber],
       [cstrmc].[ConstructionMajorCodes]
FROM [LandDatabase].[dbo].[ConstructionMajorCodes] AS [cstrmc]