
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT [mc].[AutoNumber],
       [mc].[MinorCodes]
FROM [LandDatabase].[dbo].[MinorCodes] AS [mc]