
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT [AutoNumber],
       [MinorCodes]
FROM [LandDataBase].[dbo].[PermitMinorCodes]