
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT [FAMAIN].[ID],
       [FAMAIN].[COUNTY],
       [FAMAIN].[PERMIT NUMBER],
       [FAMAIN].[PRIVATE],
       [FAMAIN].[CA RQD],
       [FAMAIN].[Type Year],
       [FAMAIN].[TypeInstrument],
       [FAMAIN].[InstrumentNo],
       [FAMAIN].[InstrumentAmountReceived],
       [FAMAIN].[InstrumentBeginDate],
       [FAMAIN].[InstrumrntEndDate],
       [FAMAIN].[InstrumentCovers],
       [FAMAIN].[CEASEDRECEIVINGWASTEDATE],
       [FAMAIN].[CLOSURE CERT DATE],
       [FAMAIN].[FISCAL YEAR END],
       [FAMAIN].[DATE FA DUE],
       [FAMAIN].[DATE FA REC'D],
       [FAMAIN].[DATE FA APPVD],
       [FAMAIN].[DATE FA REJECT],
       [FAMAIN].[CL BASE DATE],
       [FAMAIN].[PC BASE DATE],
       [FAMAIN].[CA BASE DATE],
       [FAMAIN].[DISCOUNT],
       [FAMAIN].[ORIG CL AMT],
       [FAMAIN].[ORIG PC AMT],
       [FAMAIN].[CURRENT CL AMT],
       [FAMAIN].[CURRENT PC AMT],
       [FAMAIN].[ORIG CA AMT],
       [FAMAIN].[CURRENT CA AMT],
       [FAMAIN].[ORIG ASSURED COST],
       [FAMAIN].[CURRENT ASSURED COST],
       [FAMAIN].[EPD ENGINEER],
       [FAMAIN].[IN/OUT COMPL],
       [FAMAIN].[Received(butnotreviewed)],
       [FAMAIN].[IN COMPLIANCE?],
       [FAMAIN].[Comments],
       [FAMAIN].[InComplianceUntil],
       [FAMAIN].[FA_Required]
FROM [LandDatabase].[dbo].[FA MAIN] AS [FAMAIN]
order by 3