
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT [MainPermitNumber],
       [StAddr],
       [Postal],
       [F4],
       [Y],
       [X]
FROM [LandDataBase].[dbo].[$lat_long_Update_1']