/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [EPAID]
      ,[PermitNumber]
      ,[FacilityName]
      ,[FacilityType]
      ,[OperationStatus]
      ,[FacilityStartDate]
      ,[FacilityTypeDescription]
      ,[FacilityAmendedDate]
      ,[FacilityAddress]
      ,[FacilityEndDate]
      ,[City]
      ,[State]
      ,[County]
      ,[ZipCode]
      ,[CountyNumber]
      ,[Latitude]
      ,[Region]
      ,[AcceptPublicWaste]
      ,[Longitude]
      ,[Comments]
      ,[DateLegalDescriptionReceived]
      ,[DateCourtClerkNotified]
      ,[LastDateOperatorNotified]
      ,[DateEPDNotified]
      ,[DateSiteClosed]
      ,[Dominion]
      ,[WasteDescription]
      ,[Autonumber]
      ,[PBR Approval Date]
      ,[ID]
      ,[SSMA_TimeStamp]
  FROM [PermitByRule].[dbo].[PBR_Main_Facility]
  WHERE Latitude IS null
  ORDER BY 3