/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (10000) [MASTERLIST_TYPE_RID]
      ,[MASTERLIST_TYPE_NAME]
      ,[MASTERLIST_TYPE_DESC]
      ,[TYPE_RID]
      ,[SP_NAME_GENERATE]
      ,[SP_NAME_PUBLISH]
      ,[SP_NAME_DELETE]
      ,[GRIDVIEW_NAME]
      ,[META_DATA]
      ,[RR_IND]
      ,[APPLICATION_RID]
      ,[PERMIT_TYPE_RID]
      ,[STATUS_CD]
      ,[CREATED_DATE]
      ,[CREATED_BY]
      ,[UPDATED_DATE]
      ,[UPDATED_BY]
  FROM [GovOnline_LEMIR].[dbo].[REF_MASTERLIST_TYPE]