/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [FACILITY_RID]
      ,[FACILITY_IDENTIFIER]
      ,[FACILITY_NAME]
      ,[FACILITY_ABBR_NAME]
      ,[FACILITY_TYPE_RID]
      ,[GEO_COORDINATE_RID]
      ,[BUSINESS_START_DATE]
      ,[BUSINESS_END_DATE]
      ,[INACTIVE_REASON]
      ,[COMMENT_TEXT]
      ,[OPERATING_STATUS]
      ,[CMS_IND]
      ,[STATUS_CD]
      ,[CREATED_DATE]
      ,[CREATED_BY]
      ,[UPDATED_DATE]
      ,[UPDATED_BY]
      ,[CONGRESSIONAL_DISTRICT_NO]
      ,[DISTRICT_AREA_RID]
      ,[EPA_ENV_JUSTICE_RID]
      ,[EPA_REGION_RID]
      ,[EPA_TRIBAL_LAND_RID]
      ,[FACILITY_STATUS_RID]
      ,[FACILITY_STATUS_UPDATED_DATE]
      ,[FACILITY_XML]
      ,[FED_TAX_ID]
      ,[FEDERAL_AGENCY_RID]
      ,[ORG_DUNS_NO]
      ,[PERMITTEE_NAME]
      ,[SATELLITE_IND]
      ,[SMALL_BUSINESS_IND]
      ,[TOTAL_EMPLOYEE_NO]
      ,[URL]
      ,[VERSION_CD]
      ,[YEARS_IN_BUSINESS]
      ,[TSDF_IND]
      ,[VENDOR_IND]
      ,[FIS_ID]
      ,[FIMS_SYNC_IND]
      ,[EXTRA_INFO]
      ,[FACILITY_ID_REF]
  FROM [LEMIR_Stage].[dbo].[FAC_FACILITY]
  WHERE [FACILITY_ID_REF] IN ('PBR-143-06COL', 'PBR-008-34COL', 'PBR-011-59COL', 'PBR-110-47TS', 'PBR-058-350COL-BIO-TS', 'PBR-089-38COL', 'PBR-031-123COL', 'PBR-058-352TS', 'PBR-064-22TS', 'PBR-028-147COL', 'PBR-033-141COL')

  -- , 'PBR-025-60TS', 'PBR-129-21COL', 'PBR-129-22TS', 'PBR-093-20COL', 'PBR-093-21COL', 'PBR-060-275COL', 'PBR-067-815COL', 'PBR-160-104COL-BIO', 'PBR-105-011COL', 'PBR-031-122TS', 'PBR-113-13COL', 