
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT [PERMIT_RID],
       [SUBMISSION_RID],
       [SUB_FORM_RID],
       [PERMIT_NUMBER],
       [SYS_USER_RID],
       [SYS_FACILITY_ID],
       [FACILITY_NAME],
       [ISSUED_BY],
       [ISSUED_DTTM],
       [EFFECTIVE_DTTM],
       [EXPIRATION_DTTM],
       [STATUS_CD],
       [COMMENTS],
       [CREATED_DTTM],
       [CREATED_BY],
       [UPDATED_DTTM],
       [UPDATED_BY],
       [TRANSFER_TO],
       [PERMIT_STATUS_RID],
       [PERMIT_TYPE_RID],
       [PERMIT_DETAIL],
       [PERMIT_NAME],
       [REPORT_RID],
       [NUMBER_SUFFIX],
       [EXPIRATION_DESC],
       [BARCODE_IMAGE],
       [BARCODE_NUMBER],
       [SUB_PRIOR_APPROVAL_RID],
       [OBJECT_TYPE],
       [DESCRIPTION],
       [APPLICATION_RID],
       [PERMIT_STAGE_RID],
       [CONTROL_NUMBER],
       [EXCHANGE_PERMIT_RID],
       [REVISION_NO],
       [CHECK_OUT_BY],
       [CHECK_OUT_DATE],
       [CHECK_OUT_DIRECTORY],
       [VERSION_NO],
       [LOCK_IND],
       [PERMIT_FILE_NAME],
       [EXTRA_INFO],
       [PERMIT_FILE_EXT],
       [OBJECT]
FROM [LEMIR_Stage].[GOV].[SUB_PERMIT]
--WHERE [PERMIT_NUMBER] IN('PBR-093-21COL', 'PBR-093-20COL', 'PBR-060-275COL', 'PBR-160-104COL-BIO', 'PBR-067-815COL', 'PBR-105-011COL', 'PBR-129-21COL', 'PBR-129-22TS', 'PBR-031-122TS', 'PBR-113-13COL', 'PBR-048-58COL', 'PBR-143-06COL', 'PBR-008-34COL', 'PBR-011-59COL', 'PBR-110-47TS', 'PBR-058-350COL-BIO-TS', 'PBR-089-38COL', 'PBR-031-123COL', 'PBR-058-352TS', 'PBR-064-22TS', 'PBR-028-147COL', 'PBR-033-141COL', 'PBR-025-60TS')