
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

-- Jefferson County
-- this permit needs the FACILITY_RID changed to 380496
--
SELECT [FEP].[FAC_ENV_PROGRAM_RID],
       [FEP].[FACILITY_RID],
       [FEP].[TYPE_RID],
       [FEP].[COMMENT_TEXT],
       [FEP].[STATUS_CD],
       [FEP].[CREATED_DATE],
       [FEP].[CREATED_BY],
       [FEP].[UPDATED_DATE],
       [FEP].[UPDATED_BY],
       [FEP].[PROGRAM_DETAIL],
       [FEP].[FAC_PROGRAM_IDENTIFIER], -- use this for Permit Number
       [FEP].[AKA_NAME],
       [FEP].[SUBMISSION_RID],
       [FEP].[REVIEWER_RID],
       [FEP].[COMPLIANCE_STATUS],
       [FEP].[MONITORING_STATUS]
FROM [GovOnline_LEMIR].[dbo].[FAC_ENV_PROGRAM] AS [FEP]
--WHERE [FEP].[FACILITY_RID] = 5436
--      AND 
WHERE [FEP].[FAC_ENV_PROGRAM_RID] = 549824
      AND [FEP].[FAC_PROGRAM_IDENTIFIER] = '081-010P(RM)'
        --345705)
      --AND [FEP].[FAC_ENV_PROGRAM_RID] = 549824
      --OR [FEP].[FACILITY_RID] IN(348256, 348257)
ORDER BY 2