
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT [SP].[PERMIT_RID],
       [SP].[SUBMISSION_RID],
       [SP].[SUB_FORM_RID],
       [SP].[PERMIT_NUMBER],
       [SP].[SYS_USER_RID],
       [SP].[SYS_FACILITY_ID],
       [SP].[FACILITY_NAME],
       [SP].[ISSUED_BY],
       [SP].[ISSUED_DTTM],
       [SP].[EFFECTIVE_DTTM],
       [SP].[EXPIRATION_DTTM],
       [SP].[STATUS_CD],
       [SP].[COMMENTS],
       [SP].[CREATED_DTTM],
       [SP].[CREATED_BY],
       [SP].[UPDATED_DTTM],
       [SP].[UPDATED_BY],
       [SP].[TRANSFER_TO],
       [SP].[PERMIT_STATUS_RID],
       [SP].[PERMIT_TYPE_RID],
       [SP].[PERMIT_DETAIL],
       [SP].[PERMIT_NAME],
       [SP].[REPORT_RID],
       [SP].[NUMBER_SUFFIX],
       [SP].[EXPIRATION_DESC],
       [SP].[BARCODE_IMAGE],
       [SP].[BARCODE_NUMBER],
       [SP].[SUB_PRIOR_APPROVAL_RID],
       [SP].[OBJECT],
       [SP].[OBJECT_TYPE],
       [SP].[DESCRIPTION],
       [SP].[APPLICATION_RID],
       [SP].[PERMIT_STAGE_RID],
       [SP].[CONTROL_NUMBER],
       [SP].[EXCHANGE_PERMIT_RID],
       [SP].[REVISION_NO],
       [SP].[CHECK_OUT_BY],
       [SP].[CHECK_OUT_DATE],
       [SP].[CHECK_OUT_DIRECTORY],
       [SP].[VERSION_NO],
       [SP].[LOCK_IND],
       [SP].[PERMIT_FILE_NAME],
       [SP].[EXTRA_INFO],
       [SP].[PERMIT_FILE_EXT]
FROM [GovOnline_LEMIR].[GOV].[SUB_PERMIT] AS [SP]
WHERE [SP].[CREATED_BY] LIKE 'EPDMIG SW%'