
/*******************************************************
***** Script for SelectTopNRows command from SSMS  *****
*******************************************************/

SELECT [GEO_COORDINATE_RID],
       [LATITUDE_MEASURE],
       [LONGITUDE_MEASURE],
       [SOURCE_MAP_SCALE_NUMBER],
       [GEO_REFERENCE_POINT_RID],
       [HORIZONTAL_ACCURACY_MEASURE],
       [HORIZONTAL_ACCURACY_UNIT_RID],
       [HORIZONTAL_COLLECTION_RID],
       [HORIZONTAL_REF_DATUM_RID],
       [DATA_COLLECTION_DATE],
       [GEOGRAPHIC_COMMENT],
       [VERTICAL_MEASURE],
       [VERTICAL_MEASURE_UNIT_RID],
       [VERTICAL_COLLECTION_METHOD_CD],
       [VERTICAL_REF_DATUM_CD],
       [VERIFICATION_METHOD_CD],
       [COORDINATE_DATA_SOURCE_CD],
       [GEOMETRIC_TYPE_CD],
       [AREA_IN_PERIMETER],
       [AREA_IN_PERIMETER_UNIT_RID],
       [SHAPE_FILE_ID],
       [AREA_IN_SHAPE],
       [AREA_IN_SHAPE_UNIT_RID],
       [POLYGON_IND],
       [POLYGON_DERIVED_POINT_TYPE],
       [UTM_EAST],
       [UTM_NORTH],
       [UTM_ZONE],
       [STATUS_CD],
       [CREATED_DATE],
       [CREATED_BY],
       [UPDATED_DATE],
       [UPDATED_BY],
       [LATITUDE_DEGREE],
       [LATITUDE_MINUTE],
       [LATITUDE_SECOND],
       [LONGTITUDE_DEGREE],
       [LONGTITUDE_MINUTE],
       [LONGTITUDE_SECOND]
       --[FACILITY_ID_REF]
FROM [LEMIR_Stage].[dbo].[SYS_GEO_COORDINATE]