USE [LEMIR_Stage]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[GOV].[DF_PM_SUB_PERMIT_UPDATED_DTTM]') AND type = 'D')
BEGIN
ALTER TABLE [GOV].[SUB_PERMIT] DROP CONSTRAINT [DF_PM_SUB_PERMIT_UPDATED_DTTM]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[GOV].[DF_PM_SUB_PERMIT_CREATED_DTTM]') AND type = 'D')
BEGIN
ALTER TABLE [GOV].[SUB_PERMIT] DROP CONSTRAINT [DF_PM_SUB_PERMIT_CREATED_DTTM]
END
GO
/****** Object:  Table [GOV].[SUB_PERMIT]    Script Date: 3/1/2019 12:02:48 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[GOV].[SUB_PERMIT]') AND type in (N'U'))
DROP TABLE [GOV].[SUB_PERMIT]
GO
/****** Object:  Table [GOV].[SUB_PERMIT]    Script Date: 3/1/2019 12:02:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [GOV].[SUB_PERMIT](
	[PERMIT_RID] [int] NOT NULL,
	[SUBMISSION_RID] [int] NULL,
	[SUB_FORM_RID] [int] NULL,
	[PERMIT_NUMBER] [varchar](100) NULL,
	[SYS_USER_RID] [int] NULL,
	[SYS_FACILITY_ID] [varchar](50) NULL,
	[FACILITY_NAME] [varchar](250) NULL,
	[ISSUED_BY] [varchar](100) NULL,
	[ISSUED_DTTM] [datetime] NULL,
	[EFFECTIVE_DTTM] [datetime] NULL,
	[EXPIRATION_DTTM] [datetime] NULL,
	[STATUS_CD] [varchar](25) NULL,
	[COMMENTS] [varchar](500) NULL,
	[CREATED_DTTM] [datetime] NOT NULL,
	[CREATED_BY] [varchar](100) NULL,
	[UPDATED_DTTM] [datetime] NOT NULL,
	[UPDATED_BY] [varchar](100) NULL,
	[TRANSFER_TO] [int] NULL,
	[PERMIT_STATUS_RID] [int] NULL,
	[PERMIT_TYPE_RID] [int] NULL,
	[PERMIT_DETAIL] [xml] NULL,
	[PERMIT_NAME] [varchar](250) NULL,
	[REPORT_RID] [int] NULL,
	[NUMBER_SUFFIX] [varchar](20) NULL,
	[EXPIRATION_DESC] [varchar](4000) NULL,
	[BARCODE_IMAGE] [image] NULL,
	[BARCODE_NUMBER] [varchar](25) NULL,
	[SUB_PRIOR_APPROVAL_RID] [int] NULL,
	[OBJECT_TYPE] [varchar](200) NULL,
	[DESCRIPTION] [varchar](4000) NULL,
	[APPLICATION_RID] [int] NULL,
	[PERMIT_STAGE_RID] [int] NULL,
	[CONTROL_NUMBER] [varchar](100) NULL,
	[EXCHANGE_PERMIT_RID] [int] NULL,
	[OBJECT] [image] NULL,
	[REVISION_NO] [varchar](100) NULL,
	[CHECK_OUT_BY] [varchar](200) NULL,
	[CHECK_OUT_DATE] [datetime] NULL,
	[CHECK_OUT_DIRECTORY] [varchar](1000) NULL,
	[VERSION_NO] [int] NULL,
	[LOCK_IND] [char](1) NULL,
	[PERMIT_FILE_NAME] [varchar](250) NULL,
	[EXTRA_INFO] [text] NULL,
	[PERMIT_FILE_EXT] [varchar](200) NULL,
 CONSTRAINT [PK_SUB_PERMIT] PRIMARY KEY CLUSTERED 
(
	[PERMIT_RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [GOV].[SUB_PERMIT] ADD  CONSTRAINT [DF_PM_SUB_PERMIT_CREATED_DTTM]  DEFAULT (getdate()) FOR [CREATED_DTTM]
GO
ALTER TABLE [GOV].[SUB_PERMIT] ADD  CONSTRAINT [DF_PM_SUB_PERMIT_UPDATED_DTTM]  DEFAULT (getdate()) FOR [UPDATED_DTTM]
GO
