USE [LEMIR_Stage]
GO
/****** Object:  Table [dbo].[EI_XML_w_data]    Script Date: 12/20/2018 2:19:36 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EI_XML_w_data]') AND type in (N'U'))
DROP TABLE [dbo].[EI_XML_w_data]
GO
/****** Object:  Table [dbo].[EI_XML_w_data]    Script Date: 12/20/2018 2:19:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EI_XML_w_data](
	[FACILITY_NAME] [nvarchar](255) NULL,
	[TYPE_NAME] [nvarchar](255) NULL,
	[PROGRAM_DETAIL] XML NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
